.DS_Store
node_modules
package-lock.json
/dist
backend/media/

*.pyc
.coverage
venv/


# local env files
.env.local
.env.*.local

# local deploy files
entrypoint.local.sh

#test files
proccess_test.py
resources_test

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
